#define ___ &trans
#define XXX &none

#define CM COMMA
#define SMC SEMI
#define COL COLON
#define QST QUESTION
#define XCL EXCLAMATION
#define ELI LA(SEMI) // elipsis
#define STR STAR
#define MNS MINUS
#define PLS PLUS
#define HSH HASH
#define DLR DOLLAR
#define PCT PERCENT
#define CRT CARET
#define USC UNDERSCORE
#define PIP PIPE
#define GRV GRAVE
#define TLD TILDE
#define BSH BSLH
#define BSP BSPC
#define FSH FSLH // slash
#define NBS NUBS // non-US backslash
#define _PR LPAR
#define PR_ RPAR
#define _BK LBKT
#define BK_ RBKT
#define _BC LBRC
#define BC_ RBRC

#define K0 KP_N0
#define K1 KP_N1
#define K2 KP_N2
#define K3 KP_N3
#define K4 KP_N4
#define K5 KP_N5
#define K6 KP_N6
#define K7 KP_N7
#define K8 KP_N8
#define K9 KP_N9
#define KPS KP_PLUS
#define KMS KP_MINUS
#define KMP KP_MULTIPLY
#define KDV KP_DIVIDE

#define F_0 F10
#define F_A F11
#define F_B F12
#define F_C F13
#define F_D F12
#define F_E F14
#define F_F F15

#define HOM HOME
#define PUP PG_UP
#define PDN PG_DN
#define DWN DOWN
#define RGT RIGHT
#define LFT LEFT

#define _S LSHFT
#define _C LCTRL
#define _A LALT
#define _M LGUI
#define S_ RSHFT
#define C_ RCTRL
#define A_ RALT
#define M_ RGUI
#define CPS CAPS

#define N_SQT &lt 1 SQT
#define S_GRV &lt 1 GRV

#define MPP C_PLAY_PAUSE
#define M_P C_PREV // play previous track
#define MP_ C_NEXT // play next track
#define M_V LEFT // jump back 5 seconds in YouTube video
#define MV_ RIGHT // jump ahead 5 seconds in YouTube video
#define M_X J // jump back 10 seconds in YouTube video
#define MX_ L // jump ahead 10 seconds in YouTube video
#define M_C LA(LEFT) // previous chapter in YouTube video
#define MC_ LA(RIGHT) // next chapter in YouTube video
#define M_S COMMA	// slower in Youtube video
#define MS_ PERIOD	// faster in Youtube video

#define BTP &bt BT_PRV
#define BTN &bt BT_NXT
#define BTX &bt BT_CLR
#define BT0 &bt BT_SEL 0
#define BT1 &bt BT_SEL 1
#define BT2 &bt BT_SEL 2
#define BT3 &bt BT_SEL 3
#define BT4 &bt BT_SEL 4
#define EQL EQUAL

#define SLP C_SLEEP
